*{
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
.scene {
	width: 200px;
	height: 200px;
	perspective: 400px;
	margin: 5% auto;

}

.cube {
	margin-top: 70px;
	width: 200px;
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
	transform: translateZ(-100px);
	transition: transform 1s;
}

.cube__face {
	position: absolute;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	line-height: 200px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	text-align: center;
}

.cube__face--front {
	background: hsla( 0, 100%, 50%, 0.7);
}


.cube__face--back {
	background: hsla( 120, 100%, 50%, 0.7);
}

.cube__face--right {
	background: hsla( 80, 100%, 50%, 0.7);
}

.cube__face--left {
	background: hsla( 300, 100%, 50%, 0.7);
}

.cube__face--top {
	background: hsla( 330, 100%, 50%, 0.7);
}

.cube__face--bottom {
	background: hsla( 350, 100%, 50%, 0.7);
}





.cube__face--front {
	transform: rotateY(0deg) translateZ(100px);
}

.cube__face--back {
	transform: rotateY(180deg) translateZ(100px);
}

.cube__face--right {
	transform: rotateY(90deg) translateZ(100px);
}
.cube__face--left {
	transform: rotateY(270deg) translateZ(100px);
}

.cube__face--top {
    transform: rotateX(90deg) translateZ(100px);
}

.cube__face--bottom {
        transform: rotateX(-90deg) translateZ(100px);
}



.cube__show--front {
	transform: rotateY(0deg) translateZ(-100px);
}

.cube__show--back {
	transform: rotateY(-180deg) translateZ(-100px);
}

.cube__show--right {
	transform: rotateY(-90deg) translateZ(-100px);
}
.cube__show--left {
	transform: rotateY(-270deg) translateZ(-100px);
}

.cube__show--top {
    transform: rotateX(-90deg) translateZ(-100px);
}

.cube__show--bottom {
        transform: rotateX(90deg) translateZ(-100px);
}


label {
	margin-right: 10px;
}

.checkbox-group {
display: inline-flex;
margin: 30px -60px;
}

#check-front:checked ~ .cube {
	transform: rotateY(0deg) translateZ(0px);
}

#check-back:checked ~ .cube {
	transform: rotateY(-180deg) translateZ(0px);

}



#check-right:checked ~ .cube {
	transform: rotateY(-90deg) translateZ(0px);

}

#check-left:checked ~ .cube {
	transform: rotateY(90deg) translateZ(0px);

}

#check-top:checked ~ .cube {
    transform: rotateX(-90deg)translateZ(0px);

}

#check-bottom:checked ~ .cube {
        transform: rotateX(90deg)translateZ(0px);

}

#check-separar:checked ~ .cube div:first-of-type {
		        transform: rotateX(90deg)translateZ(150px);

}

#check-separar:checked ~ .cube div:nth-child(2) {
    transform: rotateX(-90deg)translateZ(150px);
	}
#check-separar:checked ~ .cube div:nth-child(3) {
        	transform: rotateY(90deg) translateZ(150px);
	}
	#check-separar:checked ~ .cube div:nth-child(4) {
        		transform: rotateY(-90deg) translateZ(150px);
	}
	#check-separar:checked ~ .cube div:nth-child(5) {
        			transform: rotateY(-180deg) translateZ(150px);
	}
	#check-separar:checked ~ .cube div:nth-child(6) {
        				transform: rotateY(0deg) translateZ(150px);
	}




#check-unir:checked ~ .cube div:first-of-type {
	        	transform: rotateY(90deg) translateZ(100px);

}

#check-unir:checked ~ .cube div:nth-child(2) {
	        transform: rotateX(90deg)translateZ(100px);
	}
#check-unir:checked ~ .cube div:nth-child(3) {
    transform: rotateX(-90deg)translateZ(100px);
	}
	#check-unir:checked ~ .cube div:nth-child(4) {
        		transform: rotateY(-90deg) translateZ(100px);
	}
	#check-unir:checked ~ .cube div:nth-child(5) {
        			transform: rotateY(-180deg) translateZ(100px);
	}
	#check-unir:checked ~ .cube div:nth-child(6) {
        				transform: rotateY(0deg) translateZ(100px);
	}
